.financial-management-card-home.card-home {
    padding: 16px;
    border-radius: 8px;
    border: solid 1px #000;
    cursor: pointer;
    text-align: center;
    background-image: url(./assets/wave.png);
    background-size: cover;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
    height: 80px;
    background-repeat: no-repeat;

    span {
        background-color: #c3c3c3;
        color: black;
        padding: 4px 8px;
    }
}