<h1 mat-dialog-title>
    {{data.new ? 'Adicionar' : 'Editar'}}
    <span style="font-weight: 400;float: right;">
        {{data?.month.month | monthLabel}}/{{data?.month.year}}
    </span>
</h1>
<div mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="16px" [formGroup]="form">
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Task</mat-label>
            <input formControlName="task" matInput maxlength="30" placeholder="Task">
            <button *ngIf="form.get('task')?.value" matSuffix mat-icon-button (click)="form.get('task')?.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-hint align="end">{{form.get('task')?.value?.length || 0}}/30</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tempo</mat-label>
          <input matInput [format]="24" [ngxMatTimepicker]="pickerD" placeholder="Tempo" formControlName="time" readonly/>
          <mat-icon matSuffix (click)="pickerD.open()">schedule</mat-icon>
        </mat-form-field>
        <div class="ngx-mtp-box-bordered">
          <ngx-mat-timepicker color="accent" appendToInput="true" #pickerD></ngx-mat-timepicker>
        </div>

    </div>

</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-button color="primary" cdkFocusInitial (click)="save()">Salvar</button>
</div>
